body { background: #f0f0f0; color: #666; border-top: 2px solid #ff5e99; font-family: "Helvetica", "Arial", sans-serif; }
	#page { margin: 0 auto; width: 320px; }
	h1 { font-family:"Corinthian W01 Bold","Helvetica", "Arial", sans-serif; font-size: 75px; line-height: 1; text-shadow: #fff 0 1px 0;}
		h1 span { font-size: 30px; }
		h1 a { color: #666; }
			h1 a:hover { color: #ff5e99; }
	h2 { text-shadow: #fff 0 1px 0; }
	::-moz-selection { background: #ff5e99; color:#fff; text-shadow: none; }
	::selection { background: #ff5e99; color:#fff; text-shadow: none; }
	a { text-decoration: none; color: #333; text-shadow: #fff 0 1px 0; }
	a:hover { color: #666; }
	a:active { position: relative; top: 1px; }

	#box p { line-height: 300px; text-align: center; }
	#form { font-size: 16px; }
		#form label { display: block; margin: 10px 0 5px;  }
		#form input { color: #333; padding: 3px 5px; border: none; border-bottom: 1px solid #fff; font-size: 24px; width: 293px; -webkit-box-shadow: #ccc 0px 1px 1px inset; background: #ddd; -webkit-border-radius: 5px;}